@model ProfileInfoViewModel
@using Logic.Enums
@{
	Layout = "_Layout";
}

<h1>Информация о пользователе</h1>
<img src="data:image/png;base64, @Model.Avatar" class="user-avatar">

<div class="user-photos-block">
	@foreach (var photo in @Model.Photos)
	{
		<a asp-action="PhotoInfo" asp-controller="Photo" asp-route-photoId="@photo.Id" asp-route-userId="@Model.Id">
			<img src="data:image/png;base64, @photo.Data" class="user-icon">
		</a>
	}
</div>

@if (User.Identity.IsAuthenticated)
{
	if (Model.RelationType == RelationType.None)
	{
		<form asp-action="SendFriendRequest" asp-route-id="@Model.Id" asp-route-returnUrl="/Profile/ProfileInfo/@Model.Id">
			<button type="submit" class="btn btn-outline-secondary">Добавить в друзья</button>
		</form>
	}
	else if (Model.RelationType == RelationType.Following)
	{
		<form asp-action="CancelSubscription" asp-route-id="@Model.Id">
			<button type="submit" class="btn btn-outline-secondary">Отменить подписку</button>
		</form>
	}
	else if (Model.RelationType == RelationType.Follower)
	{
		<form asp-action="AddToFriends" asp-route-id="@Model.Id">
			<button type="submit" class="btn btn-outline-secondary">Подтвердить заявку в друзья</button>
		</form>
	}
	else if (Model.RelationType == RelationType.Friend)
	{
		<form asp-action="RemoveFromFriends" asp-route-id="@Model.Id" asp-route-returnUrl="/Profile/ProfileInfo/@Model.Id">
			<button type="submit" class="btn btn-outline-secondary">Удалить из друзей</button>
		</form>
	}
}

<table class="table table-striped table-bordered">
	<tr>
		<td>@Html.DisplayNameFor(m => m.Name)</td>
		<td>@Model.Name</td>
	</tr>
	<tr>
		<td>@Html.DisplayNameFor(m => m.Surname)</td>
		<td>@Model.Surname</td>
	</tr>
	<tr>
		<td>@Html.DisplayNameFor(m => m.Patronymic)</td>
		<td>@(Model.Patronymic ?? "Нет")</td>
	</tr>
	<tr>
		<td>@Html.DisplayNameFor(m => m.Country)</td>
		<td>@Model.Country</td>
	</tr>
	<tr>
		<td>@Html.DisplayNameFor(m => m.City)</td>
		<td>@Model.City</td>
	</tr>
	<tr>
		<td>@Html.DisplayNameFor(m => m.BirthDate)</td>
		<td>@Model.BirthDate</td>
	</tr>
	<tr>
		<td>@Html.DisplayNameFor(m => m.Gender)</td>
		<td>@Model.Gender</td>
	</tr>
	<tr>
		<td>
			<a asp-action="RelationList" asp-route-id="@Model.Id" asp-route-relationType="@RelationType.Friend">
				@Html.DisplayNameFor(m => m.FriendsCount)
			</a>
		</td>
		<td>@Model.FriendsCount</td>
	</tr>
	<tr>
		<td>
			<a asp-action="RelationList" asp-route-id="@Model.Id" asp-route-relationType="@RelationType.Following">
				@Html.DisplayNameFor(m => m.FollowersCount)
			</a>
		</td>
		<td>@Model.FollowersCount</td>
	</tr>
</table>
